<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="js/customjs.js"
	type="text/javascript"></script>
</head>
<body>
	<nav>
		<form
			action="#"
			th:action="@{/landing}"
			method="get">
			<input
				type="submit"
				value="Volver a la p&aacute;gina principal">
		</form>
	</nav>
	<article>
		<form
			class="form"
			action="#"
			th:action="@{/submitGame}"
			method="post">
			<label
				for="name"
				class="">Nombre</label>
			<input
				type="text"
				id="name"
				name="name"
				class="form-control"
				placeholder="Nombre"
				required
				autofocus>
			<!-- 			<span -->
			<!-- 				th:if="${#fields.hasErrors('name')}" -->
			<!-- 				th:errors="*{name}">Errores en nombre</span> -->
			<label
				for="scenario"
				class="">Escenario</label>
			<input
				type="text"
				id="scenario"
				name="scenario"
				class="form-control"
				placeholder="Escenario"
				required
				autofocus>
			<!-- 			<span -->
			<!-- 				th:if="${#fields.hasErrors('scenario')}" -->
			<!-- 				th:errors="*{scenario}">Errores en el escenario</span> -->
			<input
				class="btn btn-lg btn-primary btn-block"
				type="submit"
				value="Crear Partida">
		</form>
		<table border="2">
			<tr>
				<th>Jugador</th>
				<th>Pa&iacute;s</th>
				<th></th>
			</tr>
			<tr th:each="country, countryStat : ${session.countries}">
				<td th:text="${country.player.nickname}"></td>
				<td th:text="${country.name}"></td>
				<td>
					<form
						action="#"
						th:action="@{/removePlayer}"
						method="post">
						<input
							type="hidden"
							name="countryIndex"
							th:value="${countryStat.index}">
						<input
							type="submit"
							value="Quitar jugador">
					</form>
				</td>
			</tr>
		</table>
		<form
			class="form"
			action="#"
			th:action="@{/addCountry}"
			method="post"
			enctype="multipart/form-data">
			<label
				for="playerName"
				class="">Apodo del jugador</label>
			<input
				type="text"
				id="player_nickname"
				name="player_nickname"
				class="form-control"
				placeholder="Apodo..."
				required
				autofocus>
			<label
				for="countryData"
				class="">Datos del pa&iacute;s</label>
			<input
				type="file"
				id="country_data"
				name="country_data"
				class="form-control"
				accept=".csv"
				required>
			<input
				class="btn btn-lg btn-primary btn-block"
				type="submit"
				value="A&ntilde;adir Jugador">
		</form>
	</article>
</body>
</html>