<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Crear partida</title>
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
<link
	href="css/bulma.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="js/jquery.validate.js"
	type="text/javascript"></script>
<script
	src="js/customjslib.js"
	type="text/javascript"></script>
<script type="text/javascript">
	function searchScenario() {
		var searchbox = $("#search_box");
		var filter = $(searchbox).val().toLowerCase();
		var table = $("#scenario_table");
		var trs = $(".scenario_list_elements");
		var tdname, tdscenario;

		for (var i = 0; i < trs.length; i++) {
			tdname = $(trs[i]).find("td.scenario_name");
			tdscenario = $(trs[i]).find("td.scenario_tags");
			if (tdname && tdscenario) {
				var tdnametext = $(tdname).text().toLowerCase();
				var tdscenariotext = $(tdscenario).text().toLowerCase();
				var keep = (tdnametext.indexOf(filter) > -1) || (tdscenariotext.indexOf(filter) > -1);
				if (keep) {
					$(trs[i]).show();
				} else {
					$(trs[i]).hide();
				}
			}
		}
	}

	function selectScenario(id, name) {
		$("#scenario").val(name);
		$("#scenario_id").val(id);
	}

	$.validator.addMethod("validUser", function(value, element) {
		var res = true;
		var players = [];
		$.each($("td.nickname_cell"), function(index, val) {
			players.push($(val).text());
		});
		res = res && (players.indexOf(value) == -1);
		return res;
	});

	$(document).ready(function() {
		$("#game_form").validate({
			focusCleanup : true,
			rules : {
				name : {
					required : true,
					minlength : 2,
					maxlength : 64
				},
				scenario_id : {
					required : true,
				},
				scenario : {
					required : true,
				},
				player_nickname : {
					required : true,
					minlength : 2,
					maxlength : 32,
				}
			},
			messages : {
				name : {
					required : "Especifica un nombre para la partida",
					minlength : "El nombre debe tener 2 caracteres como mínimo",
					maxlength : "Máximo 64 caracteres",
				},
				scenario_id : {
					required : "Debes elegir un escenario de la lista de abajo"
				},
				scenario : {
					required : "Debes elegir un escenario de la lista de abajo"
				},
				player_nickname : {
					required : "Especifica un apodo de jugador",
					minlength : "El apodo debe tener 2 caracteres como mínimo",
					maxlength : "Máximo 32 caracteres",
				}
			},
			errorPlacement : function(error, element) {
				error.insertAfter(element);
				error.addClass("help is-danger");
				element.addClass("is-danger")
			},
			highlight : function(element) {
				$(element).removeClass("is-danger");
			},
			unhighlight : function(element) {
				$(element).removeClass("is-danger");
			},
		});
		$("#country_form").validate({
			focusCleanup : true,
			rules : {
				player_nickname : {
					required : true,
					minlength : 2,
					maxlength : 32,
					validUser : true,
				}, 
				country_data : {
					required : true,
				}
			},
			messages : {
				player_nickname : {
					required : "Especifica un apodo de jugador",
					minlength : "El apodo debe tener 2 caracteres como mínimo",
					maxlength : "Máximo 32 caracteres",
					validUser : "El usuario ya ha sido añadido a la partida"
				},
				country_data : {
					required : "Adjunta un fichero para el jugador",
				}
			},
			errorPlacement : function(error, element) {
				error.insertAfter(element);
				error.addClass("help is-danger");
				element.addClass("is-danger")
			},
			highlight : function(element) {
				$(element).removeClass("is-danger");
			},
			unhighlight : function(element) {
				$(element).removeClass("is-danger");
			},
		});
	});
</script>
</head>
<body class="content">
	<header th:replace="fragments/session_header :: header"></header>
	<section
		class="section"
		th:if="${session.gamefail?.validate() == false}">
		<div class="container box">
			<h4 class="subtitle is-4 notification is-danger">Se han
				detectado los siguientes errores:</h4>
			<ul>
				<li
					class="valdiation_error"
					th:if="${session?.gamefail?.gameNameError != null}"
					th:text="${session?.gamefail?.gameNameError}"></li>
				<li
					class="valdiation_error"
					th:if="${session?.gamefail?.playerCountError != null}"
					th:text="${session?.gamefail?.playerCountError}"></li>
				<li
					class="valdiation_error"
					th:if="${session?.gamefail?.scenarioError != null}"
					th:text="${session?.gamefail?.scenarioError}"></li>
			</ul>
		</div>
	</section>
	<section
		class="section"
		th:if="${session.scenario == null}">
		<div class="container">
			<h2
				class="subtitle is-3"
				th:if="${session.scenario == null}">Crear partida</h2>
			<h3 class="subtitle is-4">Primero, elige un escenario</h3>
			<form
				class="form"
				action="#"
				id="game_form"
				th:action="@{/addScenario}"
				method="post">
				<div class="field">
					<label
						for="name"
						class="label">Nombre de la partida</label>
					<div class="control">
						<input
							type="text"
							id="name"
							name="name"
							class="input"
							placeholder="Nombre"
							th:value="${session.newGameName != null ? session.newGameName : ''}"
							th:readonly="${session.newGameName != null}"
							required
							autofocus>
					</div>
				</div>
				<div class="field">
					<label
						for="scenario"
						class="label">Escenario</label>
					<div class="control">
						<input
							type="text"
							id="scenario"
							name="scenario"
							class="input"
							placeholder="Selecciona uno abajo"
							th:value="${session.scenario?.name}"
							readonly="readonly"
							required>
					</div>
				</div>
				<input
					type="hidden"
					name="scenario_id"
					id="scenario_id"
					th:value="${session.scenario?.id}">
				<div class="field">
					<div class="control">
						<input
							class="button is-medium is-primary is-outlined is-fullwidth"
							type="submit"
							value="Confirmar Escenario">
					</div>
				</div>
			</form>
		</div>
	</section>
	<section
		class="section"
		th:if="${session.scenario == null}">
		<div class="container">
			<h3 class="subtitle is-4">Escenarios</h3>
			<div class="field">
				<div class="control has-icons-left">
					<input
						type="text"
						id="search_box"
						class="input"
						placeholder="Buscar por nombre o etiquetas..."
						onkeyup="searchScenario()">
					<span class="icon is-small is-left"><i class="fas fa-search"></i></span>
				</div>
			</div>
			<div style="height: 25%; overflow-y: scroll;">
				<table
					class="table"
					id="scenario_table">
					<tr>
						<th>Nombre</th>
						<th>Pablabras clave</th>
						<th>Autor</th>
						<th>Ver</th>
						<th>Seleccionar</th>
					</tr>
					<tr
						th:each="scenario : ${scenarios}"
						class="scenario_list_elements">
						<td
							th:text="${scenario.name}"
							class="scenario_name"></td>
						<td
							th:text="${scenario.description}"
							class="scenario_tags"></td>
						<td th:text="${scenario.author.name}"></td>
						<td class="has-icon-left"><span class="icon is-small is-left"><i
								class="fas fa-download"></i></span> <a
							th:href="@{|/downloads/scenarios?id=${scenario.id}|}"
							download>Descargar</a></td>
						<td><button
								class="button is-outlined is-primary"
								th:onclick="@{|selectScenario(${scenario.id}, '${scenario.name}');|}">Seleccionar</button></td>
					</tr>
				</table>
			</div>
			<p class="subtitle is-5">¿No te gusta ninguno?</p>
			<form
				style="display: inline;"
				action="#"
				th:action="@{/createScenario}">
				<input
					class="button is-medium is-info is-outlined is-fullwidth"
					type="submit"
					value="Crea tu propio escenario aqu&iacute;!">
			</form>
		</div>
	</section>
	<section
		class="section"
		th:if="${session.scenario != null}">
		<div class="container">
			<h2
				class="subtitle is-3"
				th:if="${session.scenario != null}">
				Creando partida: <span th:text="${session.newGameName}"></span>
			</h2>
			<div class="notification">
				<h3 class="subtitle is-5">¡Tu escenario se ha seleccionado con
					&eacute;xito!</h3>
				<p>Escenario seleccionado:</p>
				<ul>
					<li th:text="${'Nombre: ' + session.scenario.name}"></li>
					<li th:text="${'Etiquetas: ' + session.scenario.description}"></li>
					<li th:text="${'Autor: ' + session.scenario.author.name}"></li>
					<li class="has-icons-left">
						<span class="icon is-small is-left"><i
							class="fas fa-download"></i></span> <a
							th:href="@{|/downloads/scenarios?id=${session.scenario.id}|}"
							download>Descargar Escenario</a>
					</li>
				</ul>
			</div>
			<form
				th:if="${session.scenario != null}"
				action="#"
				th:action="@{/removeScenario}"
				method="post">
				<input
					class="button is-link is-outlined is-medium is-fullwidth"
					type="submit"
					value="Reiniciar creaci&oacute;n">
			</form>
		</div>
	</section>
	<section
		class="section"
		th:if="${session.scenario != null}">
		<div class="container">
			<h3 class="subtitle is-4">Se han detectado estos turnos:</h3>
			<div class="columns is-centered">
				<div class="column is-narrow panel">
					<table class="table is-striped">
						<tr>
							<th>Turno</th>
							<th>Nombre del subescenario</th>
						</tr>
						<tr th:each="turn, turnStat : ${session.turns}">
							<td th:text="${turnStat?.index + 1}"></td>
							<td th:text="${turn?.subscenario}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>
	<section
		class="section"
		th:if="${session.scenario != null}">
		<div class="container">
			<h3 class="subtitle is-4">Ahora, invita a tus jugadores</h3>
			<div
				class="box"
				th:if="${session.countryfail?.validate() == false}">
				<h4 class="subtitle is-5 notification is-danger">Se han
					detectado los siguientes errores con ese jugador:</h4>
				<ul>
					<li
						class="valdiation_error"
						th:if="${session?.countryfail?.addedGMError != null}"
						th:text="${session?.countryfail?.addedGMError}"></li>
					<li
						class="valdiation_error"
						th:if="${session?.countryfail?.playerDoesntExistError != null}"
						th:text="${session?.countryfail?.playerDoesntExistError}"></li>
					<li
						class="valdiation_error"
						th:if="${session?.countryfail?.duplicatePlayerError != null}"
						th:text="${session?.countryfail?.duplicatePlayerError}"></li>
					<li
						class="valdiation_error"
						th:if="${session?.countryfail?.duplicateCountryError != null}"
						th:text="${session?.countryfail?.duplicateCountryError}"></li>
					<li
						class="valdiation_error"
						th:if="${session?.countryfail?.countryFileError != null}">Errores
						en el fichero:</li>
					<li
						style="list-style: none;"
						class="valdiation_error_file"
						th:if="${session?.countryfail?.countryFileError != null}">
						<ul th:each="error : ${session?.countryfail?.countryFileError}">
							<li th:text="${error}"></li>
						</ul>
					</li>
				</ul>
			</div>
			<div>
				<h4 class="subtitle is-5">Jugadores a&ntilde;adidos</h4>
				<table class="table is-striped">
					<tr>
						<th>Jugador</th>
						<th>Pa&iacute;s</th>
						<th></th>
					</tr>
					<tr th:each="country, countryStat : ${session.countries}">
						<td
							class="nickname_cell"
							th:text="${country?.player?.nickname}"></td>
						<td
							class="country_cell"
							th:text="${country?.name}"></td>
						<td>
							<form
								action="#"
								th:action="@{/removePlayer}"
								method="post">
								<input
									type="hidden"
									name="countryIndex"
									th:value="${countryStat.index}">
								<input
									class="button is-outlined is-info"
									type="submit"
									value="Quitar jugador">
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="container">
			<h4 class="subtitle is-5">A&ntilde;ade un nuevo jugador</h4>
			<form
				class="form"
				action="#"
				id="country_form"
				th:action="@{/addCountry}"
				method="post"
				enctype="multipart/form-data">
				<div class="field">
					<label
						for="player_nickname"
						class="label">Apodo del jugador</label>
					<div class="control">
						<input
							type="text"
							id="player_nickname"
							name="player_nickname"
							class="input"
							placeholder="Apodo..."
							th:value="${session.playerName}"
							required
							autofocus>
					</div>
				</div>
				<div class="field">
					<label
						for="countryData"
						class="label">Datos del pa&iacute;s</label>
					<div class="control">
						<input
							type="file"
							id="country_data"
							name="country_data"
							class="input"
							accept=".csv"
							required>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<input
							class="button is-link is-primary is-medium is-fullwidth"
							type="submit"
							value="A&ntilde;adir Jugador">
					</div>
				</div>
			</form>
		</div>
	</section>
	<section
		class="section"
		th:if="${session.scenario != null and session.turns!=null and !session.turns.empty and session.countries != null and !session.countries.empty}">
		<div class="container">
			<h3 class="subtitle is-4">¿Ya est&aacute; todo el mundo?</h3>
			<form
				action="#"
				id="create_game_form"
				th:action="@{/submitGame}"
				method="post">
				<input
					class="button is-primary is-medium is-fullwidth"
					type="submit"
					value="Finalizar Creaci&oacute;n">
			</form>
		</div>
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>