<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Partida en curso</title>
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
<link
	href="css/bulma.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="js/customjslib.js"
	type="text/javascript"></script>
<script type="text/javascript">
	function openRoll(id) {
		var modal = $("div#" + id + "_modal");
		$(modal).toggle();
	}

	function closeRoll(id) {
		var modal = $("div#" + id + "_modal");
		$(modal).hide();
	}
	function toggleTurn(id) {
		var turnList = $("ul#" + id);
		$(turnList).toggle();
	}
	function toggleWar(id) {
		var warList = $("table#" + id);
		$(warList).toggle();
	}

	function showAll() {
		var toggles = $(".toggleable");
		$.each(toggles, function(key, value) {
			$(value).show();
		});
	}
	function hideAll() {
		var toggles = $(".toggleable");
		$.each(toggles, function(key, value) {
			$(value).hide();
		});
	}
	// TODO: BUTTON TO TOGGLE SHOW ALL
	$(document).ready(function() {
		// Alert for next turn
		$("#next_turn_button").click(function() {
			return confirm("ATENCIÓN! Se va a proceder a avanzar al siguiente turno.\n Esta acción es irreversible");
		});
		// Show total scores
		var tables = $(".rolls_per_turn");
		for (var t = 0; t < tables.length; t++) {
			var attackerScores = $(tables[t]).find("td.attacker_score_cell");
			var attackerTotal = 0.0;
			for (var r = 0; r < attackerScores.length; r++) {
				attackerTotal += parseFloat($(attackerScores[r]).text());
			}
			var defenderScores = $(tables[t]).find("td.defender_score_cell");
			var defenderTotal = 0.0;
			for (var r = 0; r < defenderScores.length; r++) {
				defenderTotal += parseFloat($(defenderScores[r]).text());
			}
			$(tables[t]).find("th.attacker_score").text(attackerTotal.toFixed(2));
			$(tables[t]).find("th.defender_score").text(defenderTotal.toFixed(2));

			// Hide detail tables
			$(".roll_detail").hide();
		}
	});
</script>
</head>
<body class="content">
	<header th:replace="fragments/session_header :: header"></header>
	<section class="section">
		<div class="container">
			<h3 class="subtitle is-3">
				<span th:text="${game.name}"></span> - <span
					th:text="${game.master.nickname}"></span>
			</h3>
			<div
				class="notification is-danger has-text-centered"
				th:if="${session.wrongPass != null}">
				<p th:text="${session.wrongPass}"></p>
				<span class="icon is-small is-right"><i
					class="fas fa-exclamation-triangle"></i></span>
				<h3>Participantes</h3>
				<table class="table is-striped is-narrow">
					<tr>
						<th>Jugador</th>
						<th>Pa&iacute;s</th>
					</tr>
					<tr th:each="country, countryStat : ${countries}">
						<td th:text="${country.player.nickname}"></td>
						<td th:text="${country.name}"></td>
					</tr>
				</table>
			</div>
	</section>
	<section class="section">
		<div class="container">
			<h3 class="subtitle is-4">Enfrentamientos</h3>
			<div class="level">
				<div class="level-item has-centered-text">
					<a
						class="button is-fullwidth is-info is-outlined has-icons-left has-icons-right"
						th:href="@{|/downloads/scenarios?id=${session.game.scenario.id}|}"
						download> <span class="icon is-small is-left"><i
							class="fas fa-download"></i></span> Descargar Escenario <span
						class="icon is-small is-right"><i class="fas fa-download"></i></span>
					</a>
				</div>
				<div class="level-item has-centered-text">
					<button
						class="button is-fullwidth is-info is-outlined"
						onclick="showAll();">Abrir todos</button>
				</div>
				<div class="level-item has-centered-text">
					<button
						class="button is-fullwidth is-info is-outlined"
						onclick="hideAll();">Colapsar todos</button>
				</div>
			</div>
			<ul id="turn_list">
				<li th:each="turn, turnStats : ${turns}">
					<a
						th:name="${'turn' + turnStats.index}"
						onclick="toggleTurn(this.name);"><span
						class="subtitle is-4"
						th:text="${turn.subscenario}"></span></a>
					<ul
						th:id="${'turn' + turnStats.index}"
						class="wars_per_turn toggleable">
						<li th:each="war, warStats : ${wars[turnStats.index]}">
							<a
								th:name="${'turn' + turnStats.index + '_war' + warStats.index}"
								onclick="toggleWar(this.name);"><h4
									class="subtitle is-5"
									th:text="${war.name}"></h4></a>
							<table
								th:id="${'turn' + turnStats.index + '_war' + warStats.index}"
								class="rolls_per_turn table is-bordered is-striped toggleable">
								<tr>
									<th th:text="${war.rolls[0].attacker.name}"></th>
									<th th:text="${war.rolls[0].defender.name}"></th>
									<th>Detalles</th>
								</tr>
								<th:block th:each="roll, rollStats : ${war.rolls}">
									<tr class="score_rows">
										<td
											class="attacker_score_cell"
											th:text="${#numbers.formatDecimal(roll.attackerScore, 2, 2)}"></td>
										<td
											class="defender_score_cell"
											th:text="${#numbers.formatDecimal(roll.defenderScore, 2, 2)}"></td>
										<td><button
												class="button is-outlined is-info"
												th:value="${'turn' + turnStats.index + '_war' + warStats.index + '_roll' + rollStats.index}"
												onclick="openRoll(this.value)">Detalles</button></td>
									</tr>
									<tr>
										<td colspan="3"><div
												class="roll_detail toggleable"
												th:id="${'turn' + turnStats.index + '_war' + warStats.index + '_roll' + rollStats.index + '_modal'}">
												<table
													style="display: table; width: 100%; table-layout: fixed;"
													class="table is-bordered is-narrow"
													th:id="${'turn' + turnStats.index + '_war' + warStats.index + '_roll' + rollStats.index}">
													<tr>
														<th colspan="4">Puntuaci&oacute;n</th>
													</tr>
													<tr>
														<th
															style="display: table-cell"
															colspan="2"
															th:text="${roll.attacker.name}"></th>
														<th
															style="display: table-cell"
															colspan="2"
															th:text="${roll.defender.name}"></th>
													</tr>
													<tr>
														<td
															style="display: table-cell"
															colspan="2">
															<table
																id="last_attacker_result_table"
																class="is-bordered table is-narrow"
																style="display: table; width: 100%; table-layout: fixed; width: 100%;">
																<tr
																	th:each="inv, invStats : ${roll.attacker.involvements}">
																	<td
																		class="last_attacker_country_name"
																		th:text="${inv.country.name}"></td>
																	<td
																		class="last_attacker_country_percent"
																		th:text="${inv.involvementPercent}"></td>
																</tr>
															</table>
														</td>
														<td
															style="display: table-cell"
															colspan="2">
															<table
																id="last_defender_result_table"
																border="1"
																style="display: table; width: 100%; table-layout: fixed; width: 100%;">
																<tr
																	th:each="inv, invStats : ${roll.defender.involvements}">
																	<td
																		class="last_defender_country_name"
																		th:text="${inv.country.name}"></td>
																	<td
																		class="last_defender_country_percent"
																		th:text="${inv.involvementPercent}"></td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<th
															style="display: table-cell"
															colspan="2"
															th:text="${#numbers.formatDecimal(roll.attackerScore, 2, 2)}"></th>
														<th
															style="display: table-cell"
															colspan="2"
															th:text="${#numbers.formatDecimal(roll.defenderScore, 2, 2)}"></th>
													</tr>
													<tr>
														<td
															style="display: table-cell"
															colspan="4"><button
																class="button is-info is-fullwidth"
																th:value="${'turn' + turnStats.index + '_war' + warStats.index + '_roll' + rollStats.index}"
																onclick="closeRoll(this.value)">Cerrar</button></td>
													</tr>
												</table>
											</div></td>
									</tr>
								</th:block>
								<tr class="total_score">
									<th class="attacker_score">Total atacante</th>
									<th class="defender_score">Total defensor</th>
									<th>Total</th>
								</tr>
							</table>
							<hr />
						</li>
					</ul>
				</li>
			</ul>
			<th:block th:each="turn, turnStats : ${turns}">
				<th:block th:each="turnwar, turnwarStats : ${wars[turnStats.index]}">
					<th:block th:each="roll, rollStats : ${turnwar.rolls}">

					</th:block>
				</th:block>
			</th:block>
		</div>
	</section>
	<section
		class="section"
		th:if="${game.endDate == null and game.master==session.user}"
		th:switch="${war!=null}">
		<div class="container">
			<div th:case="${true}">
				<h3 class="subtitle is-4">Retomar enfrentamientos</h3>
				<form
					class="form"
					action="#"
					th:action="@{/war}"
					method="get">
					<input
						type="hidden"
						name="war_id"
						th:value="${war.id}">
					<input
						class="button is-primary is-medium is-fullwidth is-outlined"
						type="submit"
						value="Retomar Enfrentamiento en curso">
				</form>
			</div>
			<div th:case=${false}>
				<h3 class="subtitle is-4">Crear enfrentamientos</h3>
				<form
					class="form"
					action="#"
					th:action="@{/war}"
					method="get">
					<input
						type="hidden"
						name="war_id"
						value="">
					<input
						class="button is-primary is-medium is-fullwidth is-outlined"
						type="submit"
						value="Comenzar Enfrentamiento">
				</form>
			</div>
		</div>
	</section>
	<section
		class="section"
		th:if="${game.master==session.user and game.endDate == null}">
		<div class="container">
			<h3 class="subtitle is-4">
				Turno activo: <span th:text="${session.game.activeTurn.subscenario}"></span>
			</h3>
			<p>
				Turno siguiente: <span
					th:text="${nextTurn==null ? 'Ya es el &uacute;ltimo turno' : nextTurn.subscenario}"></span>
			</p>
			<div th:switch="${war==null}">
				<form
					class="form"
					action="#"
					th:action="@{/nextTurn}"
					method="post"
					th:case="${true}">
					<input
						class="button is-link is-medium is-fullwidth is-outlined"
						id="next_turn_button"
						type="submit"
						value="Avanzar Turno"
						th:disabled="${nextTurn==null}">
				</form>
				<div th:case="${false}">
					<button
						class="button is-link is-medium is-fullwidth is-outlined"
						disabled>Avanzar Turno</button>
					<p>Debes acabar o cerrar el enfrentamiento en curso antes de
						avanzar turno</p>
				</div>
			</div>
		</div>
	</section>
	<section
		class="section"
		th:if="${game.endDate == null and game.master==session.user}">
		<div class="container">
			<h3 class="subtitle is-4">Cerrar partida</h3>
			<form
				class="form"
				action="#"
				th:action="@{/closeGame}"
				method="post">
				<div class="field">
					<label
						for="password"
						class="label">Contrase&ntilde;a del Game Master:</label>
					<div class="control">
						<input
							type="password"
							name="pass"
							id="password"
							class="input"
							placeholder="Password..."
							required>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<input
							class="button is-warning is-medium is-fullwidth"
							type="submit"
							value="Autorizar"
							onclick="return confirm('!!! CUIDADO !!! \n ¿Est&aacute;s seguro de que quieres cerrar esta partida? \nEsta acci&oacute;n es final e irreversible: una vez cerrada una partida, no se puede volver a abrir')">
					</div>
				</div>
			</form>
		</div>
	</section>
</html>