<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Partida en curso</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="js/customjslib.js"
	type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var tables = $(".rolls_per_turn");
		for (var t = 0; t<tables.length; t++) {
			var attackerScores = $(tables[t]).find("td.attacker_score_cell");
			var attackerTotal = 0.0;
			for (var r = 0; r<attackerScores.length; r++) {
				attackerTotal += parseFloat($(attackerScores[r]).text());
			}
			var defenderScores = $(tables[t]).find("td.defender_score_cell");
			var defenderTotal = 0.0;
			for (var r = 0; r<defenderScores.length; r++) {
				defenderTotal += parseFloat($(defenderScores[r]).text());
			}
			$(tables[t]).find("th.attacker_score").text(attackerTotal.toFixed(2));
			$(tables[t]).find("th.defender_score").text(defenderTotal.toFixed(2));
		}
	});
</script>
</head>
<body>
	<header></header>
	<nav>
		<form
			action="#"
			th:action="@{/landing}"
			method="get">
			<input
				type="submit"
				value="Volver a la p&aacute;gina principal">
		</form>
	</nav>
	<article>
		<h2>
			<span th:text="${game.name}"></span> - <span
				th:text="${game.master.nickname}"></span>
		</h2>
		<section>
			<h3>Participantes</h3>
			<table border="2">
				<tr>
					<th>Jugador</th>
					<th>Pa&iacute;s</th>
				</tr>
				<tr th:each="country, countryStat : ${countries}">
					<td th:text="${country.player.nickname}"></td>
					<td th:text="${country.name}"></td>
				</tr>
			</table>
		</section>
		<section>
			<h3>Enfrentamientos</h3>
			<ul id="turn_list">
				<li th:each="turn, turnStats : ${turns}">
					<span th:text="${turn.subscenario}"></span>
					<ul class="wars_per_turn">
						<li
							style="list-style-type: none;"
							th:each="turnwar, turnwarStats : ${wars[turnStats.index]}">
							<ul class="wars_per_turn">
								<li th:each="war, warStats : ${turnwar}">
									<h4 th:text="${war.name}"></h4>
									<table
										border="1"
										class="rolls_per_turn">
										<tr>
											<th
												th:text="${rolls[turnStats.index][warStats.index][0].attacker.name}"></th>
											<th
												th:text="${rolls[turnStats.index][warStats.index][0].defender.name}"></th>
										</tr>
										<th:block
											th:each="roll, rollStats : ${rolls[turnStats.index][warStats.index]}">
											<tr class="score_rows">
												<td
													class="attacker_score_cell"
													th:text="${roll.attackerScore}"></td>
												<td
													class="defender_score_cell"
													th:text="${roll.defenderScore}"></td>
											</tr>
										</th:block>
										<tr class="total_score">
											<th class="attacker_score">Total atacante</th>
											<th class="defender_score">Total defensor</th>
										</tr>
									</table>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</section>
		<section
			th:if="${game.endDate == null}"
			th:switch="${war!=null}">
			<div th:case="${true}">
				<h3>Retomar enfrentamientos</h3>
				<form
					class="form"
					action="#"
					th:action="@{/war}"
					method="get">
					<input
						type="hidden"
						name="war_id"
						th:value="${war.id}">
					<input
						class="btn btn-lg btn-primary btn-block"
						type="submit"
						value="Retomar Enfrentamiento en curso">
				</form>
			</div>
			<div th:case=${false}>
				<h3>Crear enfrentamientos</h3>
				<form
					class="form"
					action="#"
					th:action="@{/war}"
					method="get">
					<input
						type="hidden"
						name="war_id"
						value="">
					<input
						class="btn btn-lg btn-primary btn-block"
						type="submit"
						value="Comenzar Enfrentamiento">
				</form>
			</div>
		</section>
		<section th:if="${game.endDate == null}">
			<h3>Cerrar partida</h3>
			<form
				class="form"
				action="#"
				th:action="@{/closeGame}"
				method="post">
				<label
					for="password"
					class="">Contrase&ntilde;a del Game Master:</label>
				<input
					type="password"
					name="pass"
					id="password"
					class="form-control"
					placeholder="Password..."
					required>
				<input
					class="btn btn-lg btn-primary btn-block"
					type="submit"
					value="Autorizar"
					onclick="return confirm('!!! CUIDADO !!! \n ¿Est&aacute;s seguro de que quieres cerrar esta partida? \nEsta acci&oacute;n es final e irreversible: una vez cerrada una partida, no se puede volver a abrir')">
			</form>
		</section>
	</article>
</body>
</html>