<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<link
	rel="icon"
	href="../../favicon.ico">
<title>Login</title>
<!-- Bootstrap core CSS -->
<link
	href="css/bootstrap.min.css"
	rel="stylesheet">
<body>
	<header class="container">
		<h1>BIENVENIDO A "APP"</h1>
	</header>
	<article class="container">
		<div th:text="${param.fail}">Error de login:</div>
		<form
			class="form-signin"
			action="#"
			th:action="@{/login}"
			method="post">
			<h2 class="form-signin-heading">Login requerido</h2>
			<label
				for="nickname"
				class="">Apodo</label>
			<input
				type="text"
				name="nickname"
				id="nickname"
				class="form-control"
				placeholder="Nickname"
				required
				autofocus>
			<label
				for="inputPassword"
				class="">Contrase&ntilde;a</label>
			<input
				type="password"
				name="pass"
				id="inputPassword"
				class="form-control"
				placeholder="Password"
				required>
			<input
				class="btn btn-lg btn-primary btn-block"
				type="submit"
				value="Log in">
		</form>
		<section class="container form-signin">
			<h3>No te has registrado?</h3>
			<form
				th:action="@{/register}"
				method="get">
				<input
					class="btn btn-lg btn-primary btn-block"
					type="submit"
					value="Registrarse">
			</form>
		</section>
	</article>
	<footer class="container"></footer>
</body>
</html>
