<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel="shortcut icon" href="imgs/icon.ico">
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
<link
	href="css/bulma.css"
	rel="stylesheet">
<body>
	<header th:replace="fragments/login_header :: header"></header>
	<article>
		<section class="section">
			<div class="container has-text-centered">
				<h2 class="subtitle is-5">Login requerido:</h2>
				<div
					class="notification is-danger"
					th:if="${loginfail!=null}">
					<p th:text="${loginfail}"></p>
					<span class="icon is-small is-right"> <i
						class="fas fa-exclamation-triangle"></i></span>
				</div>
				<form
					action="#"
					th:action="@{/loginSubmit}"
					method="post">
					<div class="field">
						<label
							for="nickname"
							class="label">Apodo</label>
						<div class="control has-icons-left">
							<input
								type="text"
								name="nickname"
								id="nickname"
								class="input"
								placeholder="Nickname"
								required
								autofocus>
							<span class="icon is-small is-left"> <i
								class="fas fa-user"></i></span>
						</div>
					</div>
					<div class="field">
						<label
							for="inputPassword"
							class="label">Contrase&ntilde;a</label>
						<div class="control has-icons-left">
							<input
								type="password"
								name="pass"
								id="inputPassword"
								class="input"
								placeholder="Password"
								required>
							<span class="icon is-small is-left"> <i
								class="fas fa-lock"></i></span>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<input
								class="button is-primary is-medium is-fullwidth"
								type="submit"
								value="Log in">
						</div>
					</div>
				</form>
			</div>
		</section>
		<section class="section">
			<div class="container has-text-centered">
				<h3 class="subtitle is-5">No te has registrado?</h3>
				<form
					th:action="@{/register}"
					method="get">
					<div class="field">
						<div class="control">
							<input
								class="button is-medium is-info is-outlined is-fullwidth"
								type="submit"
								value="Reg&iacute;strate">
						</div>
					</div>
				</form>
			</div>
		</section>
	</article>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
