<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>P&aacute;gina principal</title>
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
<link
	href="css/bulma.css"
	rel="stylesheet">
</head>
<body class="content">
	<header th:replace="fragments/session_header :: header"></header>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-half has-text-centered">
					<form
						action="#"
						th:action="@{/create_game}"
						method="get">
						<div class="field">
							<div class="control has-icons-left">
								<input
									class="button is-large is-outlined is-primary is-fullwidth"
									type="submit"
									value="CREAR PARTIDA">
							</div>
						</div>
					</form>
				</div>
				<div class="column is-half has-text-centered">
					<form
						action="#"
						th:action="@{/createScenario}"
						method="get">
						<div class="field">
							<div class="control">
								<input
									class="button is-large is-outlined is-primary is-fullwidth"
									type="submit"
									value="CREAR ESCENARIO">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<h3 class="subtitle is-3">Partidas en curso</h3>
			<table class="table is-striped">
				<tr>
					<th>Nombre</th>
					<th>Escenario</th>
					<th>Fecha apertura</th>
					<th>Game Master</th>
					<th>Tu rol</th>
					<th></th>
				<tr>
				<tr th:each="game, gameStat : ${openGames}">
					<td th:text="${game.name}"></td>
					<td th:text="${game.scenario.name}"></td>
					<td th:text="${game.startDate}"></td>
					<td th:text="${game.master.nickname}"></td>
					<td th:text="${game.master == session.user} ? 'GM' : 'J'"></td>
					<td>
						<form
							action="#"
							th:action="@{/openGame}"
							method="get">
							<input
								type="hidden"
								name="game_id"
								th:value="${game.id}">
							<input
								class="button is-outlined is-info"
								type="submit"
								value="Abrir partida">

						</form>
					</td>
				</tr>
			</table>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<h3 class="subtitle is-3">Partidas jugadas</h3>
			<table class="table is-striped">
				<tr>
					<th>Nombre</th>
					<th>Escenario</th>
					<th>Fecha apertura</th>
					<th>Fecha cierre</th>
					<th>Game Master</th>
					<th>Tu rol</th>
				<tr>
				<tr th:each="game, gameStat : ${closedGames}">
					<td th:text="${game.name}"></td>
					<td th:text="${game.scenario.name}"></td>
					<td th:text="${game.startDate}"></td>
					<td th:text="${game.endDate}"></td>
					<td th:text="${game.master.nickname}"></td>
					<td th:text="${game.master == session.user} ? 'GM' : 'J'"></td>
					<td>
						<form
							action="#"
							th:action="@{/openGame}"
							method="get">
							<input
								type="hidden"
								name="game_id"
								th:value="${game.id}">
							<input
								class="button is-outlined is-info"
								type="submit"
								value="Ver partida">
						</form>
					</td>
				</tr>
			</table>
		</div>
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>