<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<article>
		<nav>
			<h4>
				HELLO: <span th:text="${session.user.name}"></span>
			</h4>
			<img
				width="200px"
				th:src="@{/} + ${session.user.avatar}">

			<form
				action="#"
				th:action="@{/profile}"
				method="get">
				<input
					type="submit"
					value="Edit">
			</form>
			<form
				action="#"
				th:action="@{/logout}"
				method="post">
				<input
					type="submit"
					value="Logout">
			</form>
		</nav>
		<section>
			<form
				action="#"
				th:action="@{/create_game}"
				method="get">
				<input
					type="submit"
					value="Crear Partida">
			</form>
			<form
				action="#"
				th:action="@{/createScenario}"
				method="get">
				<input
					type="submit"
					value="Crear escenario">
			</form>
		</section>
		<section>
			<h3>Partidas en curso</h3>
			<table border="2">
				<tr>
					<th>Nombre</th>
					<th>Escenario</th>
					<th>Fecha apertura</th>
					<th>Game Master</th>
					<th>Tu rol</th>
					<th></th>
				<tr>
				<tr th:each="game, gameStat : ${openGames}">
					<td th:text="${game.name}"></td>
					<td th:text="${game.scenario.name}"></td>
					<td th:text="${game.startDate}"></td>
					<td th:text="${game.master.nickname}"></td>
					<td th:text="${game.master == session.user} ? 'GM' : 'J'"></td>
					<td>
						<form
							action="#"
							th:action="@{/openGame}"
							method="get">
							<input
								type="hidden"
								name="game_id"
								th:value="${game.id}">
							<input
								type="submit"
								value="Abrir partida">
						</form>
					</td>
				</tr>
			</table>
		</section>
		<section>
			<h3>Partidas jugadas</h3>
			<table border="2">
				<tr>
					<th>Nombre</th>
					<th>Escenario</th>
					<th>Fecha apertura</th>
					<th>Fecha cierre</th>
					<th>Game Master</th>
					<th>Tu rol</th>
				<tr>
				<tr th:each="game, gameStat : ${closedGames}">
					<td th:text="${game.name}"></td>
					<td th:text="${game.scenario.name}"></td>
					<td th:text="${game.startDate}"></td>
					<td th:text="${game.endDate}"></td>
					<td th:text="${game.master.nickname}"></td>
					<td th:text="${game.master == session.user} ? 'GM' : 'J'"></td>
					<td>
						<form
							action="#"
							th:action="@{/openGame}"
							method="get">
							<input
								type="hidden"
								name="game_id"
								th:value="${game.id}">
							<input
								type="submit"
								value="Ver partida">
						</form>
					</td>
				</tr>
			</table>
		</section>
	</article>
</body>
</html>