<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<div>
			HELLO: <span th:text="${session.user.name}"></span>
		</div>
		<div>
			<form
				action="#"
				th:action="@{/profile}"
				method="get">
				<input
					type="submit"
					value="Edit">
			</form>
			<form
				action="#"
				th:action="@{/logout}"
				method="post">
				<input
					type="submit"
					value="Logout">
			</form>
		</div>
	</div>
</body>
</html>