<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="utf-8">
<title>Tu perfil</title>
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
<link
	href="css/bulma.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="js/jquery.validate.js"
	type="text/javascript"></script>
<script
	src="js/customjslib.js"
	type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#editButton").on("click", function() {
			makeEditable();
			return false;
		});

		$("#saveChanges").click(function() {
			return matchPasswords();
		});

		$("#profile_form").validate({
			focusCleanup : true,
			rules : {
				nickname : {
					minlength : 2,
					maxlength : 32
				},
				name : {
					minlength : 2,
					maxlength : 64
				},
				password : {
					minlength : 5,
					maxlength : 64
				},
			},
			messages : {
				nickname : {
					required : "Especifica un apodo",
					minlength : "El apodo debe tener 2 caracteres como mínimo",
					maxlength : "Máximo 32 caracteres",
				},
				name : {
					minlength : "El nombre debe tener 2 caracteres como mínimo",
					maxlength : "Máximo 64 caracteres",
				},
				password : {
					minlength : "La contraseña debe tener al menos 5 caracteres",
					maxlength : "Máximo 64 caracteres",
				},
			},
			errorPlacement : function(error, element) {
				error.insertAfter(element);
				error.addClass("help is-danger");
				element.addClass("is-danger")
			},
			highlight : function(element) {
				$(element).removeClass("is-danger");
			},
			unhighlight : function(element) {
				$(element).removeClass("is-danger");
			},
		});
	});
</script>
</head>
<body class="content">
	<header th:replace="fragments/session_header :: header"></header>
	<section class="section">
		<div class="container">
			<h3 class="subtitle is-3">Profile</h3>
			<div class="field">
				<button
					class="button is-fullwidth is-outlined is-warning"
					id="editButton">Habilitar edici&oacute;n</button>
			</div>
			<form
				class="form"
				action="#"
				id="profile_form"
				th:action="@{/updateUser}"
				th:object="${user}"
				method="post"
				enctype="multipart/form-data">
				<div
					class="notification is-danger"
					th:if="${#fields.hasErrors('nickname')}">
					<p th:errors="*{nickname}"></p>
					<span class="icon is-small is-right"><i
						class="fas fa-exclamation-triangle"></i></span>
				</div>
				<div
					class="notification is-danger"
					th:if="${#fields.hasErrors('name')}">
					<p th:errors="*{name}"></p>
					<span class="icon is-small is-right"><i
						class="fas fa-exclamation-triangle"></i></span>
				</div>
				<div
					class="notification is-danger"
					th:if="${#fields.hasErrors('password')}">
					<p th:errors="*{password}"></p>
					<span class="icon is-small is-right"><i
						class="fas fa-exclamation-triangle"></i></span>
				</div>
				<div class="field">
					<label
						for="nickname"
						class="label">Nickname</label>
					<div class="control has-icons-left">
						<input
							type="text"
							th:field="*{nickname}"
							id="nickname"
							name="nickname"
							class="input editable"
							th:placeholder="*{nickname}"
							required
							disabled="disabled"
							readonly="readonly">
						<span class="icon is-small is-left"><i class="fas fa-user"></i></span>
					</div>
				</div>
				<div class="field">
					<label
						for="name"
						class="label">Name</label>
					<div class="control has-icons-left">
						<input
							type="text"
							th:field="*{name}"
							id="name"
							name="name"
							class="input editable"
							th:placeholder="*{name}"
							required
							disabled="disabled"
							readonly="readonly">
						<span class="icon is-small is-left"><i
							class="fas fa-signature"></i></span>
					</div>
				</div>
				<div class="field">
					<label
						for="avatar"
						class="label">Avatar</label>
					<div class="control has-icons-left">
						<input
							type="file"
							name="avatar_image"
							id="avatar"
							accept="image/*"
							class="input editable"
							disabled="disabled"
							readonly="readonly">
						<span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
					</div>
				</div>
				<div class="field">
					<label
						for="inputPassword"
						class="label">Password</label>
					<div class="control has-icons-left">
						<input
							type="password"
							th:field="*{password}"
							id="inputPassword"
							name="password"
							class="input editable"
							placeholder="Insert password to confirm"
							required
							disabled="disabled"
							readonly="readonly">
						<span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
					</div>
				</div>
				<div class="field">
					<label
						for="checkPassword"
						class="label">Retype password</label>
					<div class="control has-icons-left">
						<input
							type="password"
							name="checkPassword"
							id="checkPassword"
							class="input editable"
							placeholder="Retype password for security"
							required
							disabled="disabled"
							readonly="readonly">
						<span class="icon is-small is-left"><i class="fas fa-lock"></i>
							<i class="fas fa-lock"></i></span>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<input
							class="editable button is-primary is-medium is-fullwidth"
							type="submit"
							id="saveChanges"
							value="Save Changes"
							disabled="disabled">
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>