<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link
	rel="shortcut icon"
	href="imgs/icon.png">
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
<link
	href="css/bulma.css"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="js/jquery.validate.js"
	type="text/javascript"></script>
<script
	src="js/customjslib.js"
	type="text/javascript"></script>
<script type="text/javascript">
	$.validator.addMethod('alphanumeric', function(value) {
		var regex = RegExp(/^[a-z0-9]+$/i);
		return regex.test(value);
	});
	$(document).ready(function() {
		$("#register_form").validate({
			focusCleanup : true,
			rules : {
				nickname : {
					minlength : 2,
					maxlength : 32,
					alphanumeric : true
				},
				name : {
					minlength : 2,
					maxlength : 64
				},
				password : {
					minlength : 5,
					maxlength : 64
				},
			},
			messages : {
				nickname : {
					required : "Especifica un apodo",
					minlength : "El apodo debe tener 2 caracteres como mínimo",
					maxlength : "Máximo 32 caracteres",
					alphanumeric : "El apodo debe ser alfanumérico",
				},
				name : {
					minlength : "El nombre debe tener 2 caracteres como mínimo",
					maxlength : "Máximo 64 caracteres",
				},
				password : {
					minlength : "La contraseña debe tener al menos 5 caracteres",
					maxlength : "Máximo 64 caracteres",
				},
			},
			errorPlacement : function(error, element) {
				error.insertAfter(element);
				error.addClass("help is-danger");
				element.addClass("is-danger")
			},
			highlight : function(element) {
				$(element).removeClass("is-danger");
			},
			unhighlight : function(element) {
				$(element).removeClass("is-danger");
			},
		});
	});
</script>
</head>
<body>
	<header th:replace="fragments/login_header :: header"></header>
	<section class="section">
		<h2 class="subtitle is-4">Introduce tu informaci&oacute;n</h2>
		<div class="container has-text-centered">
			<form
				action="#"
				id="register_form"
				th:action="@{/register}"
				th:object="${user}"
				enctype="multipart/form-data"
				method="post">
				<div
					class="notification is-danger"
					th:if="${#fields.hasErrors('nickname')}">
					<p th:errors="*{nickname}"></p>
					<span class="icon is-small is-right"><i
						class="fas fa-exclamation-triangle"></i></span>
				</div>
				<div
					class="notification is-danger"
					th:if="${#fields.hasErrors('name')}">
					<p th:errors="*{name}"></p>
					<span class="icon is-small is-right"><i
						class="fas fa-exclamation-triangle"></i></span>
				</div>
				<div
					class="notification is-danger"
					th:if="${#fields.hasErrors('password')}">
					<p th:errors="*{password}"></p>
					<span class="icon is-small is-right"><i
						class="fas fa-exclamation-triangle"></i></span>
				</div>
				<div
					class="notification is-danger"
					th:if="${filesize != null}">
					<p th:text="${filesize}"></p>
					<span class="icon is-small is-right"><i
						class="fas fa-exclamation-triangle"></i></span>
				</div>
				<div class="field">
					<label
						for="nickname"
						class="label">Apodo</label>
					<div class="control has-icons-left">
						<input
							type="text"
							th:field="*{nickname}"
							id="nickname"
							name="nickname"
							class="input"
							placeholder="Nickname"
							required
							autofocus>
						<span class="icon is-small is-left"><i class="fas fa-user"></i></span>
					</div>
				</div>
				<div class="field">
					<label
						for="name"
						class="label">Nombre</label>
					<div class="control has-icons-left">
						<input
							type="text"
							th:field="*{name}"
							id="name"
							name="name"
							class="input"
							placeholder="Name"
							required>
						<span class="icon is-small is-left"><i
							class="fas fa-signature"></i></span>
					</div>
				</div>
				<div class="field">
					<label
						for="avatar"
						class="label">Avatar</label>
					<div class="control has-icons-left">
						<input
							type="file"
							name="avatar_image"
							id="avatar"
							accept="image/*"
							class="input">
						<span class="icon is-small is-left"><i
							class="fas fa-file-image"></i></span>
					</div>
				</div>
				<div class="field">
					<label
						for="inputPassword"
						class="label">Contrase&ntilde;a</label>
					<div class="control has-icons-left">
						<input
							type="password"
							th:field="*{password}"
							id="inputPassword"
							name="password"
							class="input"
							placeholder="Password"
							required>
						<span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
					</div>
				</div>
				<div class="field">
					<label
						for="checkPassword"
						class="label">Repite contrase&ntilde;a</label>
					<div class="control has-icons-left">
						<input
							type="password"
							name="checkPassword"
							id="checkPassword"
							class="input"
							placeholder="Retype Password"
							required>
						<span class="icon is-small is-left"><i class="fas fa-lock"></i>
							<i class="fas fa-lock"></i></span>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<input
							class="button is-primary is-medium is-fullwidth"
							type="submit"
							value="Registrarse"
							onclick="return matchPasswords()">
					</div>
				</div>
			</form>
		</div>
	</section>
	<section class="section">
		<div class="container has-text-centered">
			<h3 class="subtitle is-5">¿Ya tienes una cuenta?</h3>
			<form
				th:action="@{/}"
				method="get">
				<div class="field">
					<div class="control">
						<input
							class="button is-medium is-info is-outlined is-fullwidth"
							type="submit"
							value="Logu&eacute;ate">
					</div>
				</div>
			</form>
		</div>
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>