<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Crea un escenario</title>
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
	integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	crossorigin="anonymous">
<link
	href="css/bulma.css"
	rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="js/customjslib.js"
	type="text/javascript"></script>
</head>
<body class="content">
	<header th:replace="fragments/session_header :: header"></header>
	<section class="section">
		<div class="container">
			<h2 class="title is-3">¡Tu escenario ha sido creado con
				&eacute;xito!</h2>
			<h3 class="subtitle is-5">
				Resumen de tu escenario: <span th:text="${scenario.name}"></span>
			</h3>
			<ul>
				<li th:each="subscenarioMap : ${map}">
					<span th:text="${subscenarioMap.key}"></span>
					<ul>
						<li th:each="typeMap : ${subscenarioMap.value}">
							<span th:text="${typeMap.key}"></span>
							<ul>
								<li th:each="attribute : ${typeMap.value}">
									<span th:text="${attribute.key + ': ' + attribute.value}"></span>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<h3 class="subtitle is-4">Volver</h3>
			<form
				action="#"
				th:action="@{/landing}"
				method="get">
				<div class="field">
					<div class="control">
						<input
							class="button is-fullwidth is-primary"
							type="submit"
							value="Volver a la p&aacute;gina principal">
					</div>
				</div>
			</form>
		</div>
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>