<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Partida en curso</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
	src="js/customjs.js"
	type="text/javascript"></script>
<style>
.ui-state-highlight {
	height: 1.5em;
	line-height: 1.2em;
	background-color: lightgray;
}

.coalition_lists {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
	min-height: 100px
}

.coalition_lists li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	height: 1.5em;
}
</style>
<script type="text/javascript">
	function updateTextInput(val, id) {
		id += "_input";
		$("#" + id).val(val);
	}

	function setupCoalitionNavies() {
		$("#coalition_navies").find("tr:gt(0)").remove();
		for ( var key in countries) {
			var row = $("<tr>");
			for ( var turn in countries[key]) {
				// TODO: download a "dictionary" of keys for every scenario (priority = 3)
				var selectedTurn = $(".subscenario_radio").val();
				if (selectedTurn === turn) {
					if (countries[key][turn]["naval_power"] === 1.0) {
						var cell = $("<td>");
						$(cell).append(key);
						$(row).append(cell);
						$("#coalition_navies").append(row);
					}
				}
			}
		}
	}

	function updateCoalitionNavies(updatedTurn) {
		$("#coalition_navies").find("tr:gt(0)").remove();
		for ( var key in countries) {
			var row = $("<tr>");
			for ( var turn in countries[key]) {
				// TODO: download a "dictionary" of keys for every scenario (priority = 3)
				var selectedTurn = $(updatedTurn).val();
				if (selectedTurn === turn) {
					if (countries[key][turn]["naval_power"] === 1.0) {
						var cell = $("<td>");
						$(cell).append(key);
						$(row).append(cell);
						$("#coalition_navies").append(row);
					}
				}
			}
		}
	}

	// Updates the table with the new info
	function drawCoalitionNavies(turn, attackerNavy, defenderNavy) {
		// TODO: navalPowernavy e input is the same numbers
		$("#coalition_navies").find("tr:gt(0)").remove();
		for ( var key in countries) {
			var row = $("<tr>");
			if (countries[key][turn]["naval_power"] === 1.0) {
				var intervention = countries[key][turn];
				// TODO: Download via ajax a mapping of this
				var navalPowerNavy = intervention["Tonelaje desplazado por la Armada (Tm)"]
						+ intervention["Tonelaje desplazado por la marina mercante (Tm)"];
				var c1percent = 0.0
				c1percent += attackerNavy / navalPowerNavy;
				var c2percent = 0.0 
				c2percent += defenderNavy / navalPowerNavy;
				var npcell = $("<td>");
				$(npcell).append(key);
				var c1cell = $("<td>");
				$(c1cell).append(c1percent);
				var c2cell = $("<td>");
				$(c2cell).append(c2percent);
				$(row).append(npcell);
				$(row).append(c1cell);
				$(row).append(c2cell);
				$("#coalition_navies").append(row);
			}
		}
	}

	// Gets the turn selected from the radio buttons via iteration
	function getSelectedTurn() {
		var radioList = $("#subscenario_list").find("input:checked");
		var selectedTurn = $(radioList).val();
		return selectedTurn;
	}

	// Calculates the power of navies between coalitions and naval powers
	function updateCoalitionNavies() {
		var attackerNavy = 0.0;
		var defenderNavy = 0.0;
		var attackerCountries = $("#coal1_box").find("span.country_names",
				"li.ui-sortable-handle");
		var defenderCountries = $("#coal2_box").find("span.country_names",
				"li.ui-sortable-handle");
		var turn = getSelectedTurn();
		for (var key = 0; key<attackerCountries.length; key++) {					
// 		if (attackerCountries.length > 0) {
// 			for ( var key in attackerCountries) {
// 				if (attackerCountries[key] !== "") {
					var name = $(attackerCountries[key]).text();
					var intervention = countries[name][turn];
					// TODO: Download via ajax a mapping of this
					attackerNavy += intervention["Tonelaje desplazado por la Armada (Tm)"]
							+ intervention["Tonelaje desplazado por la marina mercante (Tm)"];
// 				}
// 			}
		}
		for (var key = 0; key<defenderCountries.length; key++) {	
// 		if (defenderCountries.length > 0) {
// 			for ( var key in defenderCountries) {
// 				if (defenderCountries[key] !== "") {
					var name = $(defenderCountries[key]).text();
					// TODO: RETOMAR AQUI: PETA AQUI ALGO QUE HAY ADEMAS DEL PAIS EN EL ARRAY Y NO DEBERIA
					var intervention = countries[name][turn];
					// TODO: Download via ajax a mapping of this
					defenderNavy += intervention["Tonelaje desplazado por la Armada (Tm)"]
							+ intervention["Tonelaje desplazado por la marina mercante (Tm)"];
// 				}
// 			}
		}
		drawCoalitionNavies(turn, attackerNavy, defenderNavy);
	}

	$(document).ready(function() {
		// Sortable list to drag countries to coalitions
		$("ul#country_list, ul#attacker_list, ul#defender_list").sortable({
			connectWith : ".coalition_lists",
			dropOnEmpty : true,
			placeholder : "ui-state-highlight",
			update : function() {
				updateCoalitionNavies();
			},
		});
		//$("li.country_selectable").selectable();
		$("ul.coalition_lists").disableSelection();

		// Ajax call to get all country data to display in tables dynamically
		$.ajax({
			type : "POST",
			url : "/mapCountries",
			success : function(response) {
				countries = response;
				setupCoalitionNavies();
			}
		});
	});
</script>
</head>
<body>
	<h3>TODO: Mejoras UX y validacion</h3>
	<ol class='example'>
		<li>Las listas de coaliciones no pueden estar vacias: desactivar
			campos de nombres y botones si lo estan</li>
	</ol>
	<article>
		<h2>Crear un enfrentamiento</h2>
		<section>
			<h3>Nombre</h3>
			<form id="war_form">
				<label>Nombre:</label>
				<input
					type="text"
					name="name">
			</form>
		</section>
		<section>
			<h3>Subescenario</h3>
			<ul id="subscenario_list">
				<li th:each="turn, turnStat : ${turns}">
					<label th:text="${turn.subscenario}"></label>
					<input
						type="radio"
						th:name="subscenario"
						th:class="subscenario_radio"
						th:id="${turn.subscenario}"
						th:value="${turn.subscenario}"
						th:checked="${turnStat.index==0}"
						form="war_form"
						onclick="updateCoalitionNavies(this)">
				</li>
			</ul>
		</section>
		<section id="coalition_section">
			<h3>Coaliciones</h3>
			<div>
				<p>Coalici&oacute;n 1</p>
				<div
					id="coal1_box"
					style="border: solid 2px;">
					<ul
						id="attacker_list"
						class="coalition_lists"></ul>
				</div>
				<label>Nombre coalici&oacute;n atacante</label>
				<input
					type="text"
					name="coal1_name"
					form="war_form">
				<p>Coalici&oacute;n 2</p>
				<div
					id="coal2_box"
					style="border: solid 2px;">
					<ul
						id="defender_list"
						class="coalition_lists"></ul>
				</div>
				<label>Nombre coalici&oacute;n defensora</label>
				<input
					type="text"
					name="coal2_name"
					form="war_form">
			</div>
			<div>
				<ul
					id="country_list"
					class="coalition_lists">
					<li
						class="country_selectable"
						th:each="country : ${countries}">
						<span
							class="country_names"
							th:text="${country.name}"></span>
						<input
							type="range"
							min=0
							max=1
							step=0.01
							value=1
							th:name="${#strings.replace(country.name, ' ', '') + '_percent'}"
							th:id="${#strings.replace(country.name, ' ', '') + '_percent'}"
							form="war_form"
							oninput="updateTextInput(this.value, this.id)"
							onchange="updateTextInput(this.value, this.id)">
						<input
							type="number"
							th:name="${#strings.replace(country.name, ' ', '') + '_percent_input'}"
							th:id="${#strings.replace(country.name, ' ', '') + '_percent_input'}"
							form="war_form"
							min=0
							max=1
							step=0.01
							value=1>
						<input
							type="hidden"
							th:name="${country.name + '_coalition'}"
							value=""
							form="war_form">
					</li>
				</ul>
			</div>
			<div>
				<form
					action="#"
					th:action="@{/endWar}"
					method="post">
					<input
						type="submit"
						value="Terminar Enfrentamiento">
				</form>
			</div>
		</section>
		<section>
			<h1>RETOMAR AQUI: AJAX</h1>
			<h3>Armadas</h3>
			<table
				id="coalition_navies"
				border="2">
				<tr>
					<td>Potencias navales</td>
					<td>Porcentaje coalici&oacute;n atacante</td>
					<td>Porcentaje coalici&oacute;n defensora</td>
				</tr>
			</table>
			<table
				id="country_navies"
				border="2">
				<tr>
					<td>Potencias navales</td>
					<td>Country 1</td>
				</tr>
			</table>
		</section>
		<section>
			<h3>Puntos disponibles para la tirada actual</h3>
			<table border="2">
				<tr>
					<td>Economicos</td>
					<td>Atacante</td>
					<td>Defensor</td>
				</tr>
			</table>
			<input
				type="submit"
				value="Tirar dado"
				form="war_form">
		</section>
		<section>
			<h3>Puntos acumulados</h3>
			<table border="2">
				<tr>
					<td>Puntos</td>
					<td>Atacante</td>
					<td>Defensor</td>
				</tr>
			</table>
		</section>
		<section>
			<h3>Tiradas anteriores</h3>
			<table border="2">
				<tr>
					<td>Tirada 1</td>
					<td>Atacante</td>
					<td>Defensor</td>
				</tr>
			</table>
			<table border="2">
				<tr>
					<td>Economicos</td>
					<td>Atacante</td>
					<td>Defensor</td>
				</tr>
			</table>
		</section>
	</article>
</body>
</html>