<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Partida en curso</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
	src="js/customjs.js"
	type="text/javascript"></script>
<style>
.ui-state-highlight {
	height: 1.5em;
	line-height: 1.2em;
	background-color: lightgray;
}

.coalition_lists {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
	min-height: 100px
}

.coalition_lists li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	height: 1.5em;
}
</style>
<script type="text/javascript">
	/* Functions that sync input and slider together */
	function updateTextInput(val, id) {
		id += "_input";
		$("#" + id).val(val);
	}

	function updateSliderInput(val, id) {
		id += "_percent";
		$("#" + id).val(val);
	}
	
	// Sums an array of country objects
	function sumCoalition(coalition) {
		var sum  = $.extend(true, {}, coalition[0]);
		// Iterate countries
		for (var i = 1; i<coalition.length; i++) {
			// Iterate each type
			$.each(coalition[i], function(type, types) {
				// Iterate each attribute
				$.each(types, function(attribute, value) {
					sum[type][attribute] += value;					
				});
			});
		}
		return sum;
	}
	
	/* Gets the turn selected from the radio buttons via iteration */
	function getSelectedTurn() {
		var radioList = $("#subscenario_list").find("input:checked");
		var selectedTurn = $(radioList).val();
		return selectedTurn;
	}

	/* Updates the table with the new info */
	function drawCoalitionNavies(turn, attackerNavy, defenderNavy) {
		$("#coalition_navies").find("tr:gt(0)").remove();
		for ( var key in countries) {
			var row = $("<tr>");
			if (countries[key][turn]["navales"]["naval_power"] === 1.0) {
				var intervention = countries[key][turn]["navales"];
				// TODO: Download via ajax a mapping of this
				var navalPowerNavy = intervention["Tonelaje desplazado por la Armada (Tm)"]
						+ intervention["Tonelaje desplazado por la marina mercante (Tm)"];
				var c1percent = 0.0
				c1percent += attackerNavy / navalPowerNavy;
				var c2percent = 0.0
				c2percent += defenderNavy / navalPowerNavy;
				var npcell = $("<td>");
				$(npcell).append(key);
				var c1cell = $("<td>");
				$(c1cell).append((c1percent * 100).toFixed(2));
				var c2cell = $("<td>");
				$(c2cell).append((c2percent * 100).toFixed(2));
				$(row).append(npcell);
				$(row).append(c1cell);
				$(row).append(c2cell);
				$("#coalition_navies").append(row);
			}
		}
	}
	
	function drawCountryNavies(turn, countryNavies) {
		// Set up table and first row
		$("#country_navies").find("tr:gt(0)").remove();
		var firstRow = $("<tr>");
		var tableName = $("<th>");
		tableName.append("Potencias Navales");
		$(firstRow).append(tableName);
		$("#country_navies").append(firstRow);
		// Iterate once per country
		for ( var key in countries) {
			// Add a header per country
			var countryHeader = $("<th>");
			$(countryHeader).append(key);
			$(firstRow).append(countryHeader);
			// If the country is a naval power, add a row for it
			if (countries[key][turn]["navales"]["naval_power"] === 1.0) {
				var intervention = countries[key][turn]["navales"];
				// TODO: Download via ajax a mapping of this
				var navalPowerNavy = intervention["Tonelaje desplazado por la Armada (Tm)"]
						+ intervention["Tonelaje desplazado por la marina mercante (Tm)"];
				var row = $("<tr>");
				var npcell = $("<td>");
				$(npcell).append(key);
				$(row).append(npcell);
				for (var c in countryNavies) {
					var cpercent = 0.0;
					cpercent += countryNavies[c] / navalPowerNavy;					
					var ccell = $("<td>");
					$(ccell).append((cpercent * 100).toFixed(2));
					$(row).append(ccell);
				}
				$("#country_navies").append(row);
			}
		}
	}

	function drawCountryPoints(attackerPoints, defenderPoints) {
		var table = $("#stat_table");
		$(table).find("tr").remove();
		// Iterate the types of attributes
		$.each(attributeValuesTemplate, function (type, attributes){
			var header = $("<tr>");
			$(header).append($("<th>").append(type));
			$(header).append($("<th>").append("Atacante"));
			$(header).append($("<th>").append("Defensor"));
			$(table).append(header);
			// Iterate the attributes
			$.each(attributes, function(name, value) {
				var row = $("<tr>");
				$(row).append($("<td>").append(attributeValuesTemplate[type][name]));
				$(row).append($("<td>").append(attackerPoints[type]==null ? 0 : attackerPoints[type][name]));
				$(row).append($("<td>").append(defenderPoints[type]==null ? 0 : defenderPoints[type][name]));
				$(table).append(row);
			});
		});
	}
	/* Calculates the power of navies between coalitions and naval powers */
	/* This function is VIP */
	function updateCoalitionNavies() {
		var attackerNavy = 0.0;
		var defenderNavy = 0.0;
		var attackerCountries = $("#coal1_box").find("span.country_names",
				"li.ui-sortable-handle");
		var defenderCountries = $("#coal2_box").find("span.country_names",
				"li.ui-sortable-handle");
		var turn = getSelectedTurn();
		for (var key = 0; key < attackerCountries.length; key++) {
			var name = $(attackerCountries[key]).text();
			var intervention = countries[name][turn]["navales"];
			// TODO: Download via ajax a mapping of this
			var navies = intervention["Tonelaje desplazado por la Armada (Tm)"]
					+ intervention["Tonelaje desplazado por la marina mercante (Tm)"];
			var commitment = $("#" + name.replace(" ", "") + "_percent_input")
					.val();
			attackerNavy += navies * commitment;
		}
		for (var key = 0; key < defenderCountries.length; key++) {
			var name = $(defenderCountries[key]).text();
			var intervention = countries[name][turn]["navales"];
			// TODO: Download via ajax a mapping of this
			var navies = intervention["Tonelaje desplazado por la Armada (Tm)"]
					+ intervention["Tonelaje desplazado por la marina mercante (Tm)"];
			var commitment = $("#" + name.replace(" ", "") + "_percent_input")
					.val();
			defenderNavy += navies * commitment;
		}
		drawCoalitionNavies(turn, attackerNavy, defenderNavy);
	}
	
	/* Calculates the power of navies between naval powers and countries */
	/* This function is VIP */
	function updateCountryNavies() {
		var turn = getSelectedTurn();
		var countryNavies = {};
		// Grab the names of all the countries from the table
		for (var key in countries) {
			var name = key;
			var intervention = countries[name][turn]["navales"];
			var navies = intervention["Tonelaje desplazado por la Armada (Tm)"]
			+ intervention["Tonelaje desplazado por la marina mercante (Tm)"];
			var commitment = $("#" + name.replace(" ", "") + "_percent_input")
			.val();
			var finalNavy = navies * commitment;
			countryNavies[name] = finalNavy;
		}
		drawCountryNavies(turn, countryNavies);
	}

	function downloadPointsTemplate() {
		// TODO: Download template via ajax to do this (only once per page load)
		// Reference table with points per attribute.
		attributeValuesTemplate = {
				"Económicos": {
					"PIB/p.c ($ Geary-Khamis de 1990)": 8.0,
					"Población total": 8.0,
					"Total de la producción cerealera (trigo, maíz, centeno, avena, arroz) (Tm)": 8.0,
					"Producción acero (Tm.)": 8.0,
					"Producción carbón (Tm.)": 8.0,
				},
				"Militares": 
				{
					"Densidad ferroviaria (km/km2)": 8.0,
					"Soldados -de todos los ejércitos-": 11.0,
					"Reservistas -de todos los ejércitos-": 11.0,
				},
				"Navales": {
					"Tonelaje desplazado por la Armada (Tm)": 5.0,
					"Tonelaje desplazado por la marina mercante (Tm)": 3.0,
				},
		};
	}
	
	function updateCountryPoints() {
		var attackerPoints = {};
		var defenderPoints = {};
		var attackerCountries = $("#coal1_box").find("span.country_names",
		"li.ui-sortable-handle");
		var defenderCountries = $("#coal2_box").find("span.country_names",
		"li.ui-sortable-handle");
		var turn = getSelectedTurn();
		// Add up the power of coalitions
		var defenders = [];
		var attackers = [];
		for (var key = 0; key < defenderCountries.length; key++) {
			var name = $(defenderCountries[key]).text();
			defenders.push(countries[name][turn]);
		}
		for (var key = 0; key < attackerCountries.length; key++) {
			var name = $(attackerCountries[key]).text();
			attackers.push(countries[name][turn]);
		}
		var attackerStats = sumCoalition(attackers);
		var defenderStats = sumCoalition(defenders);
		
		// Calculate the points
		// TODO: REMOTAR AQUI: CALCULAR LOS PUNTOS
				
		drawCountryPoints(attackerStats, defenderStats);
	}
	
	$(document).ready(function() {
		// Sortable list to drag countries to coalitions
		$("ul#country_list, ul#attacker_list, ul#defender_list").sortable({
			connectWith : ".coalition_lists",
			dropOnEmpty : true,
			placeholder : "ui-state-highlight",
			update : function() {
				updateCoalitionNavies();
				updateCountryNavies();
				updateCountryPoints();
			},
		});
		// $("li.country_selectable").selectable();
		$("ul.coalition_lists").disableSelection();

		// Ajax call to get all country data to display in tables dynamically
		$.ajax({
			type : "POST",
			url : "/mapCountries",
			success : function(response) {
				countries = response;
				// setupCoalitionNavies();
				updateCoalitionNavies();
				updateCountryNavies();
				updateCountryPoints();
			}
		});
		downloadPointsTemplate();
	});
</script>
</head>
<body>
	<h3>TODO: Mejoras UX y validacion</h3>
	<ol class='example'>
		<li>Las listas de coaliciones no pueden estar vacias: desactivar
			campos de nombres y botones si lo estan</li>
	</ol>
	<article>
		<h2>Crear un enfrentamiento</h2>
		<section>
			<h3>Nombre</h3>
			<form id="war_form">
				<label>Nombre:</label>
				<input
					type="text"
					name="name">
			</form>
		</section>
		<section>
			<h3>Subescenario</h3>
			<ul id="subscenario_list">
				<li th:each="turn, turnStat : ${turns}">
					<label th:text="${turn.subscenario}"></label>
					<input
						type="radio"
						th:name="subscenario"
						th:class="subscenario_radio"
						th:id="${turn.subscenario}"
						th:value="${turn.subscenario}"
						th:checked="${turnStat.index==0}"
						form="war_form"
						onclick="updateCoalitionNavies();updateCountryNavies();updateCountryPoints()">
				</li>
			</ul>
		</section>
		<section id="coalition_section">
			<h3>Coaliciones</h3>
			<div>
				<p>Coalici&oacute;n 1</p>
				<div
					id="coal1_box"
					style="border: solid 2px;">
					<ul
						id="attacker_list"
						class="coalition_lists"></ul>
				</div>
				<label>Nombre coalici&oacute;n atacante</label>
				<input
					type="text"
					name="coal1_name"
					form="war_form">
				<p>Coalici&oacute;n 2</p>
				<div
					id="coal2_box"
					style="border: solid 2px;">
					<ul
						id="defender_list"
						class="coalition_lists"></ul>
				</div>
				<label>Nombre coalici&oacute;n defensora</label>
				<input
					type="text"
					name="coal2_name"
					form="war_form">
			</div>
			<div style="border: solid 2px;">
				<ul
					id="country_list"
					class="coalition_lists">
					<li
						class="country_selectable"
						th:each="country : ${countries}">
						<span
							class="country_names"
							th:text="${country.name}"></span>
						<input
							type="range"
							min=0
							max=1
							step=0.01
							value=1
							th:name="${#strings.replace(country.name, ' ', '') + '_percent'}"
							th:id="${#strings.replace(country.name, ' ', '') + '_percent'}"
							form="war_form"
							oninput="updateTextInput(this.value, this.id);updateCoalitionNavies();updateCountryNavies();updateCountryPoints()"
							onchange="updateTextInput(this.value, this.id);updateCoalitionNavies();updateCountryNavies();updateCountryPoints()">
						<input
							type="number"
							th:name="${#strings.replace(country.name, ' ', '') + '_percent_input'}"
							th:id="${#strings.replace(country.name, ' ', '') + '_percent_input'}"
							form="war_form"
							min=0
							max=1
							step=0.01
							value=1
							oninput="updateCoalitionNavies();updateCountryNavies();updateCountryPoints()"
							onchange="updateCoalitionNavies();updateCountryNavies();updateCountryPoints()">
						<!--						TODO: JQUERY validate this to max 1  -->
						<input
							type="hidden"
							th:name="${country.name + '_coalition'}"
							value=""
							form="war_form">
					</li>
				</ul>
			</div>
			<div>
				<form
					action="#"
					th:action="@{/endWar}"
					method="post">
					<input
						type="submit"
						value="Terminar Enfrentamiento">
				</form>
			</div>
		</section>
		<section>
			<h1>RETOMAR AQUI: AJAX</h1>
			<h3>Armadas</h3>
			<div>
				<h4>Potencias navales vs. Coaliciones</h4>
				<table
					id="coalition_navies"
					border="2">
					<tr>
						<th>Potencias navales</th>
						<th>Porcentaje coalici&oacute;n atacante</th>
						<th>Porcentaje coalici&oacute;n defensora</th>
					</tr>
				</table>
			</div>
			<div>
				<h4>Potencias navales vs. Pa&iacute;ses</h4>
				<table
					id="country_navies"
					border="2">
					<tr>
<!-- 						<th>Potencias navales</td> -->
<!-- 						<th th:each="country : ${countries}" th:text="${country.name}"></th> -->
					</tr>
				</table>
			</div>
		</section>
		<section>
			<h3>Puntos disponibles para la tirada actual</h3>
			<table id="stat_table" border="2">
			</table>
			<input
				type="submit"
				value="Tirar dado"
				form="war_form">
		</section>
		<section>
			<h3>Puntos acumulados</h3>
			<table border="2">
			</table>
		</section>
		<section>
			<h3>Tiradas anteriores</h3>
			<table border="2">
				<tr>
					<td>Tirada 1</td>
					<td>Atacante</td>
					<td>Defensor</td>
				</tr>
			</table>
			<table border="2">
				<tr>
					<td>Economicos</td>
					<td>Atacante</td>
					<td>Defensor</td>
				</tr>
			</table>
		</section>
	</article>
</body>
</html>